/****** General ***********/
* {
   font-family: 'Raleway', sans-serif;
}

:root {
   --main-bg-color: #F2F2F2;
}

body {
   display: flex;
   justify-content: center;
}

.main-container {
   width: 100%;
   padding: 32px 0;
   max-width: 1440px;
   margin: 0 auto;
   box-sizing: border-box;
}

.main-content {
   display: flex;
   flex-direction: column;
   gap: 40px;
}


/** CARDS */
.bike-admin-cards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.card-container {
   flex-basis: 23%;
}

.bike-admin-cards .card {
   background-color: white;
   border-radius: 20px;
   padding: 5px;
   filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   display: flex;
   flex-direction: column;
   margin-top: 33px;
   gap: 4px;
}

.bike-admin-cards .card .admin-thumbnail {
   width: 100%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.bike-admin-cards .card-content {
   padding: 0 15px;
   height: 55px;
   display: flex;
   flex-direction: row;
   gap: 8px;
}
a.card-link {
   text-decoration: none;
   color: black;
}

a.card-link:visited {
   text-decoration: none;
   color: black;
}

a.card-link:active {
   text-decoration: none;
   color: black;
}

.card img {
   object-fit: cover;
}

.card-txt {

   margin-top: 10px;
}

.card-title {
   position:absolute;
   top: 24px;
   left: 16px;
   font-size: 32px;
   font-weight: 700;
   color: #FFF;
   line-height: 1.2em;
   margin: 0 0 8px 0;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #00008b;
   max-width: 290px;
}

.card-subtitle {
   position:absolute;
   bottom: 80px;
   right: 25px;
   font-size: 14px;
   font-weight: 400;
   margin: 0;
   background-color:aliceblue;
   padding: 4px 8px;
   border-radius: 16px;

}


.admin-button {
   display: flex;
   align-content: center;
   justify-content: center;
   width: 150px;
   flex-wrap: wrap;
}

.admin-icon {
   width: 40px;
   height: 40px;
   margin: 8px 16px;
}

/****** Header ***********/
header {
   max-width: 1040px;
   padding: 0 50px;
   margin-bottom: 35px;

}

h1 {
   margin: 0 0 8px 0;
}

/****** Footer ***********/
.admin-footer {
   height: 163px;
   background-color: var(--main-bg-color);
   width: 100%;
   max-width: 1440px;
   margin: 35px auto 0 auto;
   display: flex;
   flex-direction: row;
   font-family: Raleway, sans-serif;
}

.footer-section {
   display: flex;
   flex-direction: column;
   flex-basis: 33%;
   padding: 20px;
   gap: 15px;
}

.footer-header {
   margin: 0;
}

ul.footer-list {

   list-style-type: none; 
   padding: 0; 
   margin: 0; 
}

.footer-item {
   margin-bottom: 15px;;
}

.footer-item a {

   text-decoration: none;
   color: black;
}

ul.footer-list a:hover, ul.footer-list a:visited, ul.footer-list a:active  {
   color: black;
}

/* TABLET STYLES */
@media screen and (max-width: 1024px)  {
   .main-content {
       max-width: 1024px;
   }

   .card-container {
      flex-basis: 50%;
   }

}

/* MOBILE STYLES */
@media screen and (max-width: 768px)  {
   .main-container {
       min-width: auto;
   }

   .cards {
       flex-direction: column;
       gap: 15px;
   }

   .card-container {
       margin: 8px;
   }
   
}